@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --fonteNormal: Arial, Helvetica, sans-serif;
  --fonte1: "Rubik", sans-serif;
  --corVermelho: #ff0000;
  --corVermelho2: #dd0000;
  --corAmarelo: #ffcc00;
}
